<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판기능</title>
</head>

<body>
    <h1>게시판</h1>
    <button></button>
    <hr>

    <div id="board_title">
        <h2>제목</h2>
        <h2>작성자</h2>
        <h2>작성일</h2>
    </div>
    <div id="board_content">
        <h2>내용</h2>
        <h2>작성자</h2>
        <h2>작성일</h2>
    </div>
    </div>
</body>

</html>