<div class="footer">
  <br /><br />
  <div class="content">
    <div class="first">KDT 3기 D조</div>
    <br />
    <div class="footer-content">
      주소: XX시 XX구 XXXXX 이메일: XXXXXXXX@gmail.com
    </div>
    <br />
    <div class="footer-content">대표전화: XXX-XXXX-XXXX</div>
    <br />
    <div class="footer-content">Copyrights 2022 All Rights Reserved</div>
    <br /><br />
  </div>
</div>
