<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Town</title>
    <%- include('./favicon.ejs') %>

        <link rel="stylesheet" href="../static/css/nav.css" />
        <link rel="stylesheet" href="../static/css/login.css" />

        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!-- kakao 주소 검색 -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
    <%- include('./nav.ejs') %>

        <div class="flex media-950">
            <div class="login-left">
                <div class="section1"></div>
                <div class="parallelogram"></div>
                <div class="login-left-description">
                    <div class="left-description">Make</div>
                    <div class="left-description">your own</div>
                    <div class="green left-description">study group!</div>
                </div>
            </div>
            <div class="login-right flex center column">
                <div class="login-form flex center">
                    <div class="login-button register flex center">회원가입</div>
                    <div class="login-button signIn flex center">로그인</div>
                </div>
                <form class="form form-register flex center column hide" name="form_register">
                    <div class="input-info" id="name">
                        <input id="user_name" name="user_name" type="text" placeholder="이름" required />
                    </div>

                    <div class="input-info-cover">
                        <div id="id" class="input-info2">
                            <input class="input-email" id="user_id" type="text" name="user_id" placeholder="아이디" required />
                            <button class="overlap-button" type="button" onclick="idTest();">
                중복확인
              </button>
                        </div>
                        <div id="idTestText"></div>
                    </div>
                    <br />

                    <div id="pw" class="input-info">
                        <input type="password" name="user_pw" placeholder="비밀번호" required />
                    </div>

                    <div class="input-info-cover">
                        <div id="email" class="input-info2">
                            <input id="user_email" name="user_email" type="email" placeholder="이메일" class="input-email" required />
                            <button class="overlap-button" type="button" onclick="emailTest();">
                중복확인
              </button>
                        </div>
                        <div id="emailTestText"></div>
                    </div>
                    <br />

                    <div class="input-info">
                        <input type="text" id="address_kakao" name="address" placeholder="주소" readonly />
                    </div>

                    <div class="input-info">
                        <input type="text" name="address_detail" placeholder="상세주소" />
                    </div>

                    <div class="form-register-button">
                        <button class="form-button" type="button" onclick="register();">
              회원가입
            </button>
                    </div>
                </form>
                <form class="form form-login" name="form_login">
                    <input id="login_id" name="user_id" type="text" placeholder="아이디" class="input-info" />
                    <input id="login_pw" name="user_pw" type="password" placeholder="비밀번호" class="input-info" />
                    <!-- <input id="user_email" name="user_email" type="email" placeholder="이메일" class="input-info" /> -->
                    <div class="form-login-button">
                        <button class="form-button" type="button" onclick="login();">
              로그인
            </button>
                        <div>
                            id: admin <br> pw: 1234
                        </div>
                        <!-- <button class="form-button">카카오로 로그인하기</button> -->
                    </div>
                </form>
            </div>
        </div>

        <form name="form_info" action="/sign/profile" method="POST">
            <input type="hidden" name="user_id" />
            <input type="hidden" name="user_index" />
        </form>

        <form name="form_position" action="/sign/position" method="GET">
            <input type="hidden" name="user_id" />
        </form>
</body>

<script>
    // ====================================signup============================
    const idTestText = document.querySelector("#idTestText");
    const emailTestText = document.querySelector("#emailTestText");

    console.log("idTestTest: ", idTestText);
    console.log("emailTestTExt", emailTestText);

    let getAddrInfo = {
        address: "",
        sido: "",
        sigungu: "",
        bename2: "",
        roadname: "",
    };

    function address() {
        document
            .getElementById("address_kakao")
            .addEventListener("click", function() {
                //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function(info) {
                        document.getElementById("address_kakao").value = info.address; // 주소 넣기
                        document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                        console.log("info>>", info);
                        console.log("전체 주소: ", info.address);
                        console.log("도: ", info.sido);
                        console.log("시: ", info.sigungu);
                        console.log("동2: ", info.bname2);
                        console.log("로: ", info.roadname);

                        getAddrInfo.address = info.address;
                        getAddrInfo.sido = info.sido;
                        getAddrInfo.sigungu = info.sigungu;
                        getAddrInfo.bename2 = info.bname2;
                        getAddrInfo.roadname = info.roadname;
                    },
                }).open();
            });

        return getAddrInfo;
    }

    //kakao 주소 검색
    window.onload = address();

    function register() {
        const form = document.forms["form_register"];

        console.log(form);
        console.log("pw확인>>", form.user_pw);
        console.log(form.checkValidity());

        //폼 유효성 검사
        /*if (!form.checkValidity()) { //!false -> true
                  form.reportValidity(); // 주황색 입력란을 뜨게 만들 수 있다.
                  return;
                }*/

        //return된 getAddInfo 객체의 값이 나온다.
        console.log("다른 함수에서 가져온 address()함수 >> ", address());
        console.log("도 >> ", address().sido);
        console.log("시 >> ", address().sigungu);
        console.log("동 >> ", address().bename2);
        console.log("로 >> ", address().roadname);

        axios({
                method: "POST",
                url: "/sign/signup",
                data: {
                    user_id: form.user_id.value,
                    user_pw: form.user_pw.value,
                    user_name: form.user_name.value,
                    user_email: form.user_email.value,

                    user_sido: address().sido, //도
                    user_sigungu: address().sigungu, //시
                    user_bename: address().bename2, //구
                    user_roadname: address().roadname, //동
                },
            })
            .then((res) => {
                console.log("res", res);
                return res.data;
            })
            .then((data) => {
                //이메일 중복X->then
                console.log("data", data);
                alert("회원가입 성공");

                const form_position = document.forms["form_position"];
                form_position.user_id.value = form.user_id.value;
                form_position.submit(data.user_index); //position으로 넘어간다.

                //document.location.href = '/sign/position';
                //document.location.href = '/sign/signin';
            })
            .catch((data) => {
                //이메일 중복O -> catch
                // alert('이미 가입된 이메일입니다.');
            });
    }

    function idTest() {
        const form = document.forms["form_register"];
        console.log("form.user_id", form.user_id);
        console.log("form.user_id.value", form.user_id.value);
        if (!form.checkValidity()) {
            form.reportValidity();
            return;
        }

        axios({
                method: "POST",
                url: "/sign/signup/id",
                data: {
                    user_id: form.user_id.value,
                },
            })
            .then((res) => {
                return res.data;
            })
            .then((data) => {
                console.log("data>> ", data);
                if (!data) {
                    //data = false
                    idTestText.textContent = `"${form.user_id.value}"는 존재하는 아이디입니다.`;
                    idTestText.style.color = "red";
                } else {
                    idTestText.textContent = `"${form.user_id.value}"는 사용 가능한 아이디입니다.`;
                    idTestText.style.color = "red";
                }
            });
    }

    function emailTest() {
        const form = document.forms["form_register"];
        console.log("form of emailTest >> ", form);

        if (!form.checkValidity()) {
            form.reportValidity();
            return;
        }

        axios({
                method: "POST",
                url: "/sign/signup/email",
                data: {
                    user_email: form.user_email.value,
                },
            })
            .then((res) => {
                return res.data;
            })
            .then((data) => {
                if (!data) {
                    //data == false
                    emailTestText.textContent = "이미 가입한 이메일입니다.";
                    emailTestText.style.color = "red";
                } else {
                    //data == true
                    emailTestText.textContent = "사용 가능한 이메일입니다.";
                    emailTestText.style.color = "red";
                }
            });
    }

    // enter key event:
    // 로그인 input이 있을 때는 enter key 누르면 login() 실행
    // 회원가입 input이 있을 때는 enter key 누르면 register() 실행
    document.onkeydown = function(e) {
        if (e.keyCode == 13) {
            if (document.getElementById("login_id")) {
                login();
            } else if (document.getElementById("user_id")) {
                register();
            }
        }
    };
</script>
<script src="../static/js/login.js"></script>

</html>