<nav class="nav">
  <div class="first-content">
    <a href="/">
      <div class="logo">
        <img src="../static/img/logo.jpg" alt="" class="logo" />
      </div>
    </a>
    <div class="nav-button">
      <a href="/main"><span>홈</span></a>
    </div>
    <div class="nav-button">
      <a href="/study"><span>스터디</span></a>
    </div>
  </div>
  <div>
    <a href="/main">
      <img src="../static/img/StudyTown.png" alt="" class="main-logo" />
    </a>
  </div>
  <div>
    <a href="/login">
      <button class="login"><span>로그인</span></button>
    </a>
  </div>
  <!-- <div>
    <a href="/myPage">
      <button class="myPage">마이페이지</button>
    </a>
  </div> -->
</nav>
