<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <h1>로그인</h1>

    <form name = "form_info" action = "/sign/profile" method = "POST">
        <input type = "hidden" name = "user_id">
        <input type = "hidden" name = "user_index">
    </form>

    

    <form name="form_login">
        <label for = "user_id">아이디</label>
        <input id = "user_id" name = "user_id" type = "text"><br>

        <label for = "user_pw">비밀번호</label>
        <input id = "user_pw" name = "user_pw" type = "password"><br>

        <label for = "user_email">이메일</label>
        <input id = "user_email" name = "user_email" type = "email"><br>

        <button type = "button" onclick = "login();">로그인</button>
    </form>

    <a href = "signup">회원가입</a>
</body>

<script>
    async function login(){
        const form_login = document.forms["form_login"];
        console.log(form_login);

        if (!form_login.checkValidity()) {
            form_login.reportValidity();
            return;
          }

        axios({
            method: 'POST',
            url: '/sign/signin',
            data: {
                user_id: form_login.user_id.value,
                user_pw: form_login.user_pw.value,
                user_email: form_login.user_email.value,
            },
        }).then((res) => {
            return res.data;
        }).then((data) => {
            if(data){//data = true라면 => res.send(true)라면
                alert('로그인 성공');

                const form_info = document.forms['form_info'];
                form_info.user_id.value = form_login.user_id.value;
                form_info.submit(); //POST /sign/profile 요청을 수행
            }
            else{ //data = false라면 => res.send(false);
                alert('로그인 실패');
                form_login.reset();
            }
        })
    }
</script>
</html>