<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Town</title>
    <%- include('./favicon.ejs') %>

        <link rel="stylesheet" href="../static/css/start.css" />
</head>

<body>
    <div class="window">
        <video class="video" autoplay loop src="../static/img/start_video.mp4" muted></video>
    </div>
    <div>
        <img class="start-logo" src="../static/img/StudyTown.png" alt="" />
    </div>
    <div>
        <div class="start-description">내가 원하는 동네 스터디 그룹!</div>

        <div class="start-description2">스터디 타운</div>
        <a href="/main">
            <button class="start-button"><p>시작하기</p></button>
        </a>
    </div>
</body>

</html>