<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/study.css" />
  </head>
  <body style="overflow-x: hidden">
    <%- include('./nav.ejs') %>

    <div class="searchDiv">
      <input class="search" type="search" name="search" id="search" />
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>

    <div class="category">
      <div class="category-title">
        <div class="title">
          title1
          <div class="title-underbox"></div>
        </div>
        <div class="title">
          title2
          <div class="title-underbox"></div>
        </div>
        <div class="title">
          title3
          <div class="title-underbox"></div>
        </div>
        <div class="title">
          title4
          <div class="title-underbox"></div>
        </div>
        <div class="title">
          title5
          <div class="title-underbox"></div>
        </div>
      </div>
      <a href="/front-board" class="remove-line">
        <div class="study-mystudy">내 스터디 만들기</div>
      </a>
    </div>

    <div class="study">
      <div class="line">
        <a href="/article" class="decoration-none">
          <div class="card" id="card1">
            <div class="card-deadline">모집기간</div>
            <div class="card-title">스터디 제목kkkkkkkㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ</div>
            <div class="card-badge">배지</div>
            <div class="card-id">작성자 iddd</div>
          </div>
        </a>
        <div class="card" id="card1">
          <div class="card-deadline">모집기간</div>
          <div class="card-title">스터디 제목kkkkkkkㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ</div>
          <div class="card-badge">배지</div>
          <div class="card-id">작성자 iddd</div>
        </div>
        <div class="card" id="card1">
          <div class="card-deadline">모집기간</div>
          <div class="card-title">스터디 제목kkkkkkkㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ</div>
          <div class="card-badge">배지</div>
          <div class="card-id">작성자 iddd</div>
        </div>
      </div>
      <div class="line">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>

    <div class="study2 hidden">
      <div class="line">
        <div class="card" id="card1">
          <div class="card-deadline">모집기간</div>
          <div class="card-title">
            스터디 제목kkkkkkk title2!!!!!!!!!!!!!!!1
          </div>
          <div class="card-badge">배지</div>
          <div class="card-id">작성자 iddd</div>
        </div>
        <div class="card" id="card1">
          <div class="card-deadline">모집기간</div>
          <div class="card-title">
            스터디 제목kkkkkkk title2!!!!!!!!!!!!!!!1
          </div>
          <div class="card-badge">배지</div>
          <div class="card-id">작성자 iddd</div>
        </div>
        <div class="card" id="card1">
          <div class="card-deadline">모집기간</div>
          <div class="card-title">
            스터디 제목kkkkkkk title2!!!!!!!!!!!!!!!1
          </div>
          <div class="card-badge">배지</div>
          <div class="card-id">작성자 iddd</div>
        </div>
      </div>
      <div class="line">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>

    <div class="window-modal">
      <div class="card-modal">
        <a href="/chat"> 해당 스터디 그룹장과 채팅하기 </a>
      </div>
    </div>
    <!-- #################################### -->
    <button onclick="getBoard();">getBoard</button>
    <!-- article_id, title, category_id, member_number, appo_aria, expr_dt, createdAt 정보가 게시판에서 보여야 함 -->
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <!-- 게시글 번호: article_id -->
          <th>제목</th>
          <!-- 게시글 제목: title -->
          <th>모집인원</th>
          <!-- 작성자: member_number -->
          <th>작성일</th>
          <!-- 작성일: createdAt -->
          <th>모집기간</th>
          <!-- 모집기간: expr_dt -->
          <!-- <th>카테고리</th> -->
          <!-- 카테고리: category_id -->
          <!-- <th>지역</th> -->
        </tr>
      </thead>
      <tbody id="article-list">
        <!-- 게시글 목록 -->
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>번호</th>
          <!-- 게시글 번호: article_id -->
          <th>제목</th>
          <!-- 게시글 제목: title -->
          <th>모집인원</th>
          <!-- 작성자: member_number -->
          <th>작성일</th>
          <!-- 작성일: createdAt -->
          <th>모집기간</th>
          <!-- 모집기간: expr_dt -->
          <!-- <th>카테고리</th> -->
          <!-- 카테고리: category_id -->
          <!-- <th>지역</th> -->
        </tr>
      </thead>
      <tbody id="article-list">
        <!-- 게시글 목록 -->
      </tbody>
    </table>

    <script src="../static/js/board.js"></script>
  </body>
  <script src="../static/js/study.js"></script>
</html>
