<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세</title>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <!-- article_id int not null auto_increment,
    title varchar(100) not null,
    parity ENUM('ONLINE', 'OFFLINE', '') not null,
    member_number int not null,
    description varchar(5000) not null,
    expr_dt date not null,
    start_dt date not null,
    end_dt date not null,
    createdAt	DATETIME	NOT NULL	COMMENT '생성일',
	updatedAt	DATETIME	NOT NULL	COMMENT '수정일', -->

    <h1 id="title"></h1>
    <h2 id="parity"></h2>
    <h2 id="member_number"></h2>
    <br>
    <div id="createdAt"></div>
    <div id="expr_dt"></div>
    <div id="start_dt"></div>
    <div id="end_dt"></div>
    <br>
    <hr> <br>
    <p id="description"></p>
    <br>
    <button onclick="editArticle();">수정</button>
    <button onclick="deleteArticle();">삭제</button>
    <br>
    <button onclick="location.href='/board'">목록</button>

    <script src="../static/js/article.js"></script>
</body>

</html>