<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- `article_id`	INT	NOT NULL	COMMENT 'auto increment',
	`user_id`	INT	NOT NULL	COMMENT '회원 index',
	`title`	VARCHAR(100)	NOT NULL	COMMENT '게시글 제목',
	`parity`	VARCHAR(2)	NOT NULL	DEFAULT OFF	COMMENT 'ON 또는 OFF 선택값 저장',
	`member_num`	INT	NOT NULL	COMMENT '스터디멤버 수',
	`description`	VARCHAR(5000)	NOT NULL	COMMENT '스터디 내용',
	`created_dt`	DATE	NOT NULL	COMMENT '게시글 생성일자',
	`expr_dt`	DATA	NOT NULL	COMMENT '게시글 만료일 (모집종료일)',
	`start_dt`	DATE	NOT NULL	COMMENT '스터디 시작일',
	`end_dt`	DATE	NOT NULL	COMMENT '스터디 종료일',
	`appo_time`	INTERVAL_DAY	NULL	COMMENT '스터디 진행 약속 시간',
	`appo_aria`	VARCHAR(100)	NULL	COMMENT '스터디 진행 약속 장소'
    <div id="board"> -->

    <!-- 게시판 작성 및 포스팅 폼 -->
    <form action="/board" method="post" name="article-form">
        <input type="text" name="title" placeholder="제목">
        <br>
        <div> <span>스터디 형태</span>
            <input type="radio" name="parity" id="on" value="ONLINE">
            <label for="on">온라인</label>
            <input type="radio" name="parity" id="off" value="OFFLINE">
            <label for="off">오프라인</label>
        </div>
        <br>
        <input type="text" name="member_number" placeholder="모집인원">
        <br>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="상세내용"></textarea>
        <br><br>
        <label for="expr_dt">모집마감일</label>
        <input type="date" name="expr_dt" id="expr_dt">
        <br>
        <label for="start_dt">스터디 시작일</label>
        <input type="date" name="start_dt" id="start_dt">
        <br>
        <label for="end_dt">스터디 종료일</label>
        <input type="date" name="end_dt" id="end_dt">
        <br><br>
        <button type="button" onclick="postArticle(); location.href='/board' " id="btn">저장</button>

    </form>

    <script src="../static/js/post.js"></script>
</body>

</html>