body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.entry-box {
  margin-top: 5vh;
}

.chat-list {
  /* background-color: skyblue; */
  margin-top: 1px;
  width: 100vw;
  height: 70vh;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.chat-list div {
  margin-top: 3px;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
}

.my-chat {
  text-align: right;
  display: flex;
}

.my-chat div {
  background-color: rgb(251, 248, 103);
  border-radius: 10%;
  margin: 2px;
  flex-direction: column;
}
.secret-chat div {
  background-color: pink;
}

.other-chat div {
  background-color: white;
}

.notice {
  text-align: center;
  color: navy;
  font-size: 12px;
}
/* .d-none {
  display: none;
} */

/* =====================================front */
.chat-section {
  width: 100vw;
  height: 70vh;
  margin: 0 0 0 0;
  display: flex;
  margin-left: 2vw;
}

.chat-users {
  width: 25vw;
  height: 100%;
  background-color: rgb(242, 243, 245);
  align-items: center;
}

.chat-user {
  width: 50%;
  height: 7vh;
  background-color: rgb(242, 243, 245);
  display: flex;
  align-items: center;
  font-size: 1.5;
  font-weight: 600;
  margin-left: 5vw;
  margin-right: 5vw;
}

.chat-user:hover {
  background-color: rgb(220, 223, 227);
}

.chat-room-title {
  background-color: rgb(242, 243, 245);
  padding: 1vw;
  font-size: 3vw;
}

.chat-room {
  width: 85vw;
  height: 100%;
  padding: 2vw 2vw 0 0;
  display: flex;
  flex-direction: column;
}

.chatting {
  height: 90%;
}

.chat-input {
  margin: 2vw 0 2vw 0;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.chat-input > textarea {
  width: 95%;
  height: 70%;
  border: hidden;
  background-color: rgb(235, 237, 239);
  border-radius: 5px;
}
.part-id {
  display: none;
}
.room-id {
  display: none;
}

/* .login-id {
  display: none;
} */
