.login-left {
  display: flex;
  width: 50vw;
}

.login-right {
  width: 50vw;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.parallelogram {
  width: 20vw;
  height: 50vw;
  transform: skew(-10deg);
  background: rgb(85, 153, 255);
  position: absolute;
  left: 25vw;
  z-index: 0;
}

.section1 {
  width: 30vw;
  height: 50vw;
  background-color: rgb(85, 153, 255);
  z-index: 1;
}

.login-left-description {
  position: absolute;
  left: 5vw;
  top: 40vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.left-description {
  color: white;
  font-weight: 700;
  font-size: 5vw;
}

.green {
  color: green;
  font-weight: 700;
  font-size: 5vw;
}

.login-form {
  width: 400px;
  height: 40px;
}

.login-button {
  width: 50%;
  height: 3vw;
  margin: 0 20px 0 0;
}

.login-button:hover {
  background-color: rgb(234, 230, 229);
}

.input-info {
  width: 400px;
  height: 40px;
  margin: 30px 0 0 0;
}
.input-info > input {
  width: 100%;
  height: 100%;
}

.input-info-cover {
  width: 400px;
  height: 40px;
  /* margin: 30px 0 0 0; */
}

.input-info2 {
  width: 100%;
  height: 100%;
  margin: 30px 0 0 0;
  display: flex;
}
.input-info2 > input {
  width: 100%;
  height: 100%;
}

.input-email {
  width: 100%;
  height: 40px;
}

.overlap-button {
  width: 100px;
  height: 30px;
}

.form {
  width: 450px;
  height: 450px;
}

.form-register-button {
  display: flex;
  justify-content: center;
}

.form-login-button {
  display: flex;
  justify-content: center;
}

.form-button {
  width: 200px;
  height: 40px;
  background-color: rgb(244, 144, 244);
  border-radius: 10px;
  border: none;
  font-weight: 800;
  font-size: 15px;
  margin: 50px;
}

@media (max-width: 950px) {
  .login-left {
    display: none;
  }

  .login-right {
    margin: 10vh 0 0 0;
  }

  .media-950 {
    justify-content: center;
    align-items: center;
  }
}
