.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  float: top;
  height: 120px;
}
.nav > div > div {
  margin: 0 20px 0 0;
  font-weight: 800;
}

.first-content {
  display: flex;
  align-items: center;
  width: 30vw;
}
.logo {
  width: 110px;
  height: 75px;
}

.logo:hover {
  cursor: pointer;
}

.main-logo {
  width: 180px;
  height: 130px;
  position: absolute;
  left: 44vw;
  top: -5px;
}

.nav-button > a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.nav-button > a > span:hover {
  color: skyblue;
}

.nav-button > a > span:active {
  color: rgb(75, 72, 72);
}

.login > span {
  color: white;
  font-weight: 800;
}

.login {
  border-radius: 15px;
  width: 100px;
  height: 35px;
  background-color: rgb(85, 153, 255);
}

.login:hover {
  background-color: rgb(85, 120, 255);
  cursor: pointer;
}
